@media only screen and (min-width: 560px) {
.container {
    display: grid;
    grid-template-areas: 

    /* this will display the grid defined in small aka mobile view. just one column, one row.
    .header {
        grid-area: hd;
    }
    
    */
    "";
}
}
