.slideshow {
   display: flex;
   flex-direction: column;
   align-items: center;
}

img {
    width:  15em;
    height: 15em;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 5px;
    background-image: url("bg2.jpg");
    background-size: contain;
    background-repeat: repeat-y;
}

section {
    background-image: url("backdrop_745.gif");
    background-size: contain;
    background-repeat: repeat-y;

}

.slideshowContainer {
    display: flex;

}

@media only screen and (max-width: 560px) {
   .slideshowContainer {
       flex-direction: column;
       align-content: center;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
   }
}
      

@media only screen and (max-width: 992px) {
    .slideshowContainer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    section {
        max-width: 80%;
    }

    img {
        width:  27em;
        height: 27em;
    }
 }